.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  background: url(../img/bg-page.png);
  margin: 0;
  padding: 0;
}
#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background: url(../img/bg-header@2x.png) repeat-x;
  background-size: 20px 46px;
  padding: 0;
}
#header .btn-back {
  position: absolute;
  top: -12px;
  left: 9px;
}
#header .btn-call {
  position: absolute;
  top: -12px;
  right: 9px;
}
.header-wrap {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.page-name {
  color: #fff;
  line-height: 46px;
  font-size: 19px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 0 1px 6px #333333, 0 -1px 6px #333333, 1px 0 6px #666666, -1px 0 6px #666666;
}
.btn-back,
.btn-call {
  display: inline-block;
  height: 70px;
  *margin-right: .3em;
  line-height: 46px;
  vertical-align: text-top;
  background-image: url("../img/btn-header@2x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.btn-back {
  width: 108px;
  background-position: 0 12px;
  background-size: 200px 96px;
}
.btn-call {
  width: 88px;
  background-position: -106px 12px;
  background-size: 200px 96px;
}
#footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 96px;
  background: url(../img/bg-footer@2x.png) repeat-x;
  background-size: 20px 96px;
  padding: 0;
}
#footer .links {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
#footer .links li {
  list-style: none;
  float: left;
  text-align: center;
  width: 20%;
}
#footer .links a {
  display: block;
  text-align: center;
}
#footer .links .active a,
#footer .links a:hover {
  background: url(../img/bg-footer-link@2x.png) no-repeat center center;
  background-size: 88px 88px;
}
#footer .links a span {
  text-indent: -9999px;
}
#wrapper {
  margin: 46px 0 96px 0;
  z-index: 1;
  width: 100%;
  overflow: auto;
}
.no-header #wrapper {
  margin-top: 0;
}
.no-footer #wrapper {
  margin-bottom: 0;
}
#msg {
  position: fixed;
  top: 46px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  z-index: 100;
  width: 100%;
}
#msg > div {
  padding: 5px 20px;
  color: #fff;
  text-shadow: 0 0px 2px #000;
}
/*
 * Index
 */
.inner-wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.lace-box {
  background: url(../img/bg-banner@2x.png) repeat-x 0 bottom;
  background-size: 66px 19px;
  padding-bottom: 19px;
  position: relative;
  z-index: 10;
}
.slider-wrap {
  overflow: hidden;
  margin: 0 auto;
}
.slider {
  min-height: 200px;
}
.slider-item {
  position: relative;
  display: block;
  float: left;
}
.slider-item a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9999px;
}
.preface {
  margin: 5px 0 15px;
  padding: 5px 15px;
  font-size: 18px;
}
.preface .preface-wrap {
  background-color: #f6e0c6;
  border: 2px solid #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  color: #3d3d3d;
  line-height: 1.5em;
  padding: 25px 15px 20px;
  position: relative;
  text-indent: 2em;
}
.preface .preface-wrap:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  background: url("../img/bg-preface@2x.png");
  background-size: 54px 43px;
  width: 54px;
  height: 43px;
}
.showcase {
  display: block;
  *zoom: 1;
  margin: 0 10px;
  padding: 0;
}
.showcase:before,
.showcase:after {
  display: table;
  content: "";
  line-height: 0;
}
.showcase:after {
  clear: both;
}
.showcase li {
  display: inline-block;
  float: left;
  width: 25%;
}
.showcase a {
  display: block;
  padding: 5px 1px;
}
.content .links {
  margin: 20px;
  padding: 0;
}
.content .links li {
  list-style: none;
  border-bottom: 1px solid #d5d4d1;
  border-top: 1px solid #fff;
}
.content .links li:first-child {
  border-top: 0;
}
.content .links li:last-child {
  border-bottom: 0;
}
.content .links a {
  color: #161616;
  display: block;
  line-height: 56px;
  font-size: 18px;
  position: relative;
  text-decoration: none;
}
.content .links a:hover {
  text-decoration: none;
}
.content .links a:hover .icon-arrow-right {
  right: 6px;
}
.content .links .icon-chengxin,
.content .links .icon-zhenggui,
.content .links .icon-26nian {
  margin: 0 10px 0 0;
  vertical-align: middle;
  margin-top: 0;
}
.content .links .icon-arrow-right {
  position: absolute;
  right: 12px;
  top: 15px;
}
.intro-page .thumbnails {
  border-top: 2px solid #ffffff;
}
.intro-page .thumbnails .slider-item {
  background: #f6e0c6;
}
.intro {
  position: relative;
  margin-top: -10px;
  z-index: 1;
}
.intro a {
  position: absolute;
  text-indent: -9999px;
}
.list-menu {
  background: url("../img/bg-intro-menu@2x.png") repeat-x;
  height: 88px;
  position: relative;
}
.landing-page {
  position: relative;
}
.landing-page a {
  position: absolute;
  text-indent: -9999px;
}
.hide {
  display: none;
}
.icon-chengxin,
.icon-zhenggui,
.icon-26nian {
  display: inline-block;
  width: 56px;
  height: 56px;
  *margin-right: .3em;
  line-height: 56px;
  vertical-align: text-top;
  background-image: url("../img/icon-index-link@2x.png");
  background-position: 0 0;
  background-size: 56px 168px;
  background-repeat: no-repeat;
}
.icon-zhenggui {
  background-position: 0 -56px;
}
.icon-26nian {
  background-position: 0 -112px;
}
.icon-arrow-up,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right {
  display: inline-block;
  width: 26px;
  height: 26px;
  *margin-right: .3em;
  line-height: 26px;
  vertical-align: text-top;
  background-image: url("../img/icon-arrow@2x.png");
  background-position: 0 0;
  background-size: 160px 100px;
  background-repeat: no-repeat;
}
.icon-arrow-down {
  background-position: -26px 0;
}
.icon-arrow-left {
  background-position: -52px 0;
}
.icon-arrow-right {
  background-position: -78px 0;
}
.icon-footer-zxly,
.icon-footer-index,
.icon-footer-zjtd,
.icon-footer-zxxm,
.icon-footer-yyjs {
  display: inline-block;
  width: 88px;
  height: 96px;
  *margin-right: .3em;
  line-height: 96px;
  vertical-align: text-top;
  background-image: url("../img/icon-footer-link@2x.png");
  background-position: 0 0;
  background-size: 440px 96px;
  background-repeat: no-repeat;
}
.icon-footer-index {
  background-position: -88px 0;
}
.icon-footer-zjtd {
  background-position: -176px 0;
}
.icon-footer-zxxm {
  background-position: -264px 0;
}
.icon-footer-yyjs {
  background-position: -352px 0;
}
.icon-message {
  display: inline-block;
  width: 56px;
  height: 56px;
  *margin-right: .3em;
  line-height: 56px;
  vertical-align: text-top;
  background-image: url("../img/icon-message@2x.png");
  background-position: 0 0;
  background-size: 56px 56px;
  background-repeat: no-repeat;
}
.icon-home,
.icon-tel,
.icon-email,
.icon-bus,
.icon-metro,
.icon-drive,
.icon-heart {
  display: inline-block;
  width: 30px;
  height: 30px;
  *margin-right: .3em;
  line-height: 30px;
  vertical-align: text-top;
  background-image: url("../img/sprites@2x.png");
  background-position: 0 0;
  background-size: 210px 30px;
  background-repeat: no-repeat;
}
.icon-tel {
  background-position: -30px 0;
}
.icon-email {
  background-position: -60px 0;
}
.icon-bus {
  background-position: -90px 0;
}
.icon-metro {
  background-position: -120px 0;
}
.icon-drive {
  background-position: -150px 0;
}
.icon-heart {
  background-position: -180px 0;
}
.icon-cat-1,
.icon-cat-2,
.icon-cat-3,
.icon-cat-4,
.icon-cat-5 {
  display: inline-block;
  width: 300px;
  height: 88px;
  *margin-right: .3em;
  line-height: 88px;
  vertical-align: text-top;
  background-image: url("../img/icon-category@2x.png");
  background-position: -20px 0;
  background-size: 300px 450px;
  background-repeat: no-repeat;
}
.icon-cat-2 {
  background-position: -20px -90px;
}
.icon-cat-3 {
  background-position: -20px -180px;
}
.icon-cat-4 {
  background-position: -20px -270px;
}
.icon-cat-5 {
  background-position: -20px -360px;
}
